In [4]:
import pandas as pd 
import numpy as np
import os

In [7]:
total_extended = pd.read_csv('total_extended')
total_extended.head()

/Users/jenniferarty/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,athlete_api_listing,athlete_categories,athlete_country_id,athlete_country_isoa2,athlete_country_name,athlete_edit_date,athlete_first,athlete_flag,athlete_gender,...,splits,team,team_id,team_order,total_time,swim,t1,bike,t2,run
0,0,https://api.triathlon.org/v1/v1/athletes/8405,[42],293.0,US,United States,NaN,Michael,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,...,"['00:25:38', '00:01:29', '01:10:46', '00:00:57...",NaN,NaN,NaN,02:30:38,00:25:38,00:01:29,01:10:46,00:00:57,00:51:50
1,1,https://api.triathlon.org/v1/v1/athletes/8404,[42],293.0,US,United States,NaN,Roger,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,...,"['00:09:05', '00:00:00', '00:55:57', '00:00:00...",NaN,NaN,NaN,01:42:35,00:09:05,00:00:00,00:55:57,00:00:00,00:37:32
2,2,https://api.triathlon.org/v1/v1/athletes/8403,[42],293.0,US,United States,NaN,Thomas,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,...,"['00:22:31', '00:04:52', '00:42:20', '00:06:58...",NaN,NaN,NaN,01:57:09,00:22:31,00:04:52,00:42:20,00:06:58,00:40:29
3,3,https://api.triathlon.org/v1/v1/athletes/8402,[42],293.0,US,United States,NaN,Kris,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,...,"['00:26:43', '01:05:09', '00:00:00', '00:01:09...",NaN,NaN,NaN,02:16:20,00:26:43,01:05:09,00:00:00,00:01:09,00:43:21
4,4,https://api.triathlon.org/v1/v1/athletes/8401,[42],293.0,US,United States,NaN,John,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,...,"['00:21:54', '00:01:17', '00:58:46', '00:00:50...",NaN,NaN,NaN,02:00:07,00:21:54,00:01:17,00:58:46,00:00:50,00:37:22

In [8]:
def drop_unnamed(data, columns):
    data= data.drop(columns, axis=1)
    return data

In [9]:
total_extended=drop_unnamed(total_extended, 'Unnamed: 0')

In [10]:
total_extended

,athlete_api_listing,athlete_categories,athlete_country_id,athlete_country_isoa2,athlete_country_name,athlete_edit_date,athlete_first,athlete_flag,athlete_gender,athlete_id,...,splits,team,team_id,team_order,total_time,swim,t1,bike,t2,run
0,https://api.triathlon.org/v1/v1/athletes/8405,[42],293.0,US,United States,NaN,Michael,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8405.0,...,"['00:25:38', '00:01:29', '01:10:46', '00:00:57...",NaN,NaN,NaN,02:30:38,00:25:38,00:01:29,01:10:46,00:00:57,00:51:50
1,https://api.triathlon.org/v1/v1/athletes/8404,[42],293.0,US,United States,NaN,Roger,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8404.0,...,"['00:09:05', '00:00:00', '00:55:57', '00:00:00...",NaN,NaN,NaN,01:42:35,00:09:05,00:00:00,00:55:57,00:00:00,00:37:32
2,https://api.triathlon.org/v1/v1/athletes/8403,[42],293.0,US,United States,NaN,Thomas,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8403.0,...,"['00:22:31', '00:04:52', '00:42:20', '00:06:58...",NaN,NaN,NaN,01:57:09,00:22:31,00:04:52,00:42:20,00:06:58,00:40:29
3,https://api.triathlon.org/v1/v1/athletes/8402,[42],293.0,US,United States,NaN,Kris,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8402.0,...,"['00:26:43', '01:05:09', '00:00:00', '00:01:09...",NaN,NaN,NaN,02:16:20,00:26:43,01:05:09,00:00:00,00:01:09,00:43:21
4,https://api.triathlon.org/v1/v1/athletes/8401,[42],293.0,US,United States,NaN,John,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8401.0,...,"['00:21:54', '00:01:17', '00:58:46', '00:00:50...",NaN,NaN,NaN,02:00:07,00:21:54,00:01:17,00:58:46,00:00:50,00:37:22
5,https://api.triathlon.org/v1/v1/athletes/8400,[42],293.0,US,United States,NaN,Jason,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8400.0,...,"['00:09:23', '00:00:00', '00:55:47', '00:00:00...",NaN,NaN,NaN,01:41:13,00:09:23,00:00:00,00:55:47,00:00:00,00:36:04
6,https://api.triathlon.org/v1/v1/athletes/8399,"[40, 42]",293.0,US,United States,2017-08-08T12:30:23+00:00,Andy,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8399.0,...,"['00:21:47', '00:06:05', '00:05:16', '00:14:58...",NaN,NaN,NaN,02:14:13,00:21:47,00:06:05,00:05:16,00:14:58,01:26:08
7,https://api.triathlon.org/v1/v1/athletes/8398,[42],293.0,US,United States,NaN,Alex,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8398.0,...,"['00:29:07', '00:01:57', '01:11:54', '00:01:02...",NaN,NaN,NaN,02:24:00,00:29:07,00:01:57,01:11:54,00:01:02,00:40:02
8,https://api.triathlon.org/v1/v1/athletes/8397,[42],293.0,US,United States,NaN,Dennis,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8397.0,...,"['00:22:53', '00:01:16', '01:03:09', '00:00:48...",NaN,NaN,NaN,02:06:05,00:22:53,00:01:16,01:03:09,00:00:48,00:38:00
9,https://api.triathlon.org/v1/v1/athletes/8396,[42],293.0,US,United States,NaN,Brett,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8396.0,...,"['00:09:52', '00:00:00', '00:57:24', '00:00:00...",NaN,NaN,NaN,01:45:18,00:09:52,00:00:00,00:57:24,00:00:00,00:38:02
10,https://api.triathlon.org/v1/v1/athletes/8395,[42],293.0,US,United States,NaN,Rafael,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8395.0,...,"['00:00:00', '00:00:00', '00:00:00', '00:00:00...",NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
11,https://api.triathlon.org/v1/v1/athletes/8394,[42],293.0,US,United States,NaN,Daniel,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8394.0,...,"['00:32:19', '01:09:25', '00:00:00', '00:00:56...",NaN,NaN,NaN,02:26:08,00:32:19,01:09:25,00:00:00,00:00:56,00:43:30
12,https://api.triathlon.org/v1/v1/athletes/8393,[42],293.0,US,United States,NaN,Chad,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8393.0,...,"['00:25:24', '00:01:50', '01:14:23', '00:01:17...",NaN,NaN,NaN,02:26:19,00:25:24,00:01:50,01:14:23,00:01:17,00:43:27
13,https://api.triathlon.org/v1/v1/athletes/8392,[42],293.0,US,United States,NaN,Scott,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8392.0,...,"['00:23:53', '00:01:23', '01:00:28', '00:01:04...",NaN,NaN,NaN,02:02:27,00:23:53,00:01:23,01:00:28,00:01:04,00:35:37
14,https://api.triathlon.org/v1/v1/athletes/8391,[42],293.0,US,United States,NaN,Jason,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8391.0,...,"['00:21:47', '00:01:27', '00:59:51', '00:01:02...",NaN,NaN,NaN,01:59:19,00:21:47,00:01:27,00:59:51,00:01:02,00:35:13
15,https://api.triathlon.org/v1/v1/athletes/8390,[42],293.0,US,United States,NaN,Joel,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8390.0,...,"['00:25:38', '01:06:27', '00:00:00', '00:00:51...",NaN,NaN,NaN,02:15:09,00:25:38,01:06:27,00:00:00,00:00:51,00:42:14
16,https://api.triathlon.org/v1/v1/athletes/8389,[42],293.0,US,United States,NaN,Frank,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8389.0,...,"['00:21:37', '00:01:30', '01:01:55', '00:00:48...",NaN,NaN,NaN,02:00:39,00:21:37,00:01:30,01:01:55,00:00:48,00:34:48
17,https://api.triathlon.org/v1/v1/athletes/8388,[42],293.0,US,United States,NaN,Loc,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8388.0,...,"['00:32:08', '01:20:06', '00:00:00', '00:02:07...",NaN,NaN,NaN,02:38:28,00:32:08,01:20:06,00:00:00,00:02:07,00:44:07
18,https://api.triathlon.org/v1/v1/athletes/8387,[42],293.0,US,United States,NaN,Brett,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8387.0,...,"['00:22:29', '00:01:16', '01:01:54', '00:00:48...",NaN,NaN,NaN,02:06:43,00:22:29,00:01:16,01:01:54,00:00:48,00:40:16
19,https://api.triathlon.org/v1/v1/athletes/8386,[42],293.0,US,United States,NaN,Bill,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8386.0,...,"['00:28:08', '01:08:43', '00:00:00', '00:01:10...",NaN,NaN,NaN,02:21:11,00:28:08,01:08:43,00:00:00,00:01:10,00:43:10
20,https://api.triathlon.org/v1/v1/athletes/8385,[42],293.0,US,United States,NaN,Showky,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8385.0,...,"['00:26:46', '01:04:30', '00:00:00', '00:01:04...",NaN,NaN,NaN,02:11:35,00:26:46,01:04:30,00:00:00,00:01:04,00:39:15
21,https://api.triathlon.org/v1/v1/athletes/8384,[42],293.0,US,United States,NaN,Darren,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8384.0,...,"['00:21:29', '00:01:23', '01:02:25', '00:00:54...",NaN,NaN,NaN,02:03:05,00:21:29,00:01:23,01:02:25,00:00:54,00:36:54
22,https://api.triathlon.org/v1/v1/athletes/8383,[42],293.0,US,United States,NaN,Boris,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8383.0,...,"['00:21:23', '00:01:14', '01:09:14', '00:00:54...",NaN,NaN,NaN,02:15:41,00:21:23,00:01:14,01:09:14,00:00:54,00:42:59
23,https://api.triathlon.org/v1/v1/athletes/8382,[42],188.0,IE,Ireland,NaN,Kevin,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8382.0,...,"['00:24:32', '00:01:34', '01:04:49', '00:00:53...",NaN,NaN,NaN,02:11:38,00:24:32,00:01:34,01:04:49,00:00:53,00:39:50
24,https://api.triathlon.org/v1/v1/athletes/8381,[42],293.0,US,United States,NaN,Aaron,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8381.0,...,"['00:27:38', '00:02:08', '01:06:15', '00:01:48...",NaN,NaN,NaN,02:19:53,00:27:38,00:02:08,01:06:15,00:01:48,00:42:05
25,https://api.triathlon.org/v1/v1/athletes/8380,[42],293.0,US,United States,NaN,Justin,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8380.0,...,"['00:24:42', '01:06:51', '00:00:00', '00:01:13...",NaN,NaN,NaN,02:19:50,00:24:42,01:06:51,00:00:00,00:01:13,00:47:06
26,https://api.triathlon.org/v1/v1/athletes/8379,[42],293.0,US,United States,NaN,John,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8379.0,...,"['00:21:23', '00:01:30', '01:03:05', '00:00:51...",NaN,NaN,NaN,02:02:37,00:21:23,00:01:30,01:03:05,00:00:51,00:35:49
27,https://api.triathlon.org/v1/v1/athletes/8378,[42],293.0,US,United States,NaN,Danny,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8378.0,...,"['00:00:00', '00:00:00', '00:00:00', '00:00:00...",NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
28,https://api.triathlon.org/v1/v1/athletes/8377,[42],293.0,US,United States,NaN,Joseph,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8377.0,...,"['00:00:00', '00:00:00', '00:00:00', '00:00:00...",NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
29,https://api.triathlon.org/v1/v1/athletes/8376,[42],293.0,US,United States,NaN,Trevor,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,8376.0,...,"['00:00:00', '00:00:00', '00:13:41', '00:01:21...",NaN,NaN,NaN,00:33:50,00:00:00,00:00:00,00:13:41,00:01:21,00:18:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39096,https://api.triathlon.org/v1/v1/athletes/44701,[42],127.0,BR,Brazil,NaN,Anderson,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44701.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39097,https://api.triathlon.org/v1/v1/athletes/44699,[42],189.0,IL,Israel,NaN,Alon,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44699.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39098,https://api.triathlon.org/v1/v1/athletes/44693,[42],194.0,KZ,Kazakhstan,2012-09-05T10:34:24+00:00,Olga,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,female,44693.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39099,https://api.triathlon.org/v1/v1/athletes/44677,[42],108.0,AR,Argentina,NaN,Eduardo,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44677.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39100,https://api.triathlon.org/v1/v1/athletes/44674,[42],189.0,IL,Israel,NaN,Raz,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44674.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39101,https://api.triathlon.org/v1/v1/athletes/44673,[42],189.0,IL,Israel,NaN,Neder,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,female,44673.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39102,https://api.triathlon.org/v1/v1/athletes/44671,[42],189.0,IL,Israel,NaN,Tom,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,female,44671.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39103,https://api.triathlon.org/v1/v1/athletes/44670,[42],189.0,IL,Israel,NaN,Haim,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44670.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39104,https://api.triathlon.org/v1/v1/athletes/44669,[42],189.0,IL,Israel,NaN,Dotan,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44669.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39105,https://api.triathlon.org/v1/v1/athletes/44667,[42],189.0,IL,Israel,NaN,Ron,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44667.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39106,https://api.triathlon.org/v1/v1/athletes/44666,[42],189.0,IL,Israel,2016-07-26T11:27:43+00:00,Tal,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44666.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39107,https://api.triathlon.org/v1/v1/athletes/44660,[42],290.0,UA,Ukraine,NaN,Iuliia,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,female,44660.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39108,https://api.triathlon.org/v1/v1/athletes/44655,[42],297.0,VE,Venezuela,NaN,Carlos Alberto,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44655.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39109,https://api.triathlon.org/v1/v1/athletes/44653,[42],127.0,BR,Brazil,NaN,Juliano,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44653.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39110,https://api.triathlon.org/v1/v1/athletes/44646,[42],287.0,TR,Turkey,NaN,Aylin,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,female,44646.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39111,https://api.triathlon.org/v1/v1/athletes/44627,[42],251.0,RU,Russia,NaN,Zoya,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,female,44627.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39112,https://api.triathlon.org/v1/v1/athletes/44624,[42],108.0,AR,Argentina,NaN,Fernando,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44624.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39113,https://api.triathlon.org/v1/v1/athletes/44623,[42],287.0,TR,Turkey,NaN,Metin,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39114,https://api.triathlon.org/v1/v1/athletes/44622,[42],287.0,TR,Turkey,2015-11-02T12:15:44+00:00,Muhammet,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44622.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39115,https://api.triathlon.org/v1/v1/athletes/44620,[42],189.0,IL,Israel,NaN,Omer,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44620.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39116,https://api.triathlon.org/v1/v1/athletes/44619,[42],189.0,IL,Israel,2016-07-26T09:05:03+00:00,Saar,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44619.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39117,https://api.triathlon.org/v1/v1/athletes/44618,[42],189.0,IL,Israel,NaN,Amir,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44618.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39118,https://api.triathlon.org/v1/v1/athletes/44616,[42],189.0,IL,Israel,2016-06-16T09:23:38+00:00,Hadar,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,female,44616.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39119,https://api.triathlon.org/v1/v1/athletes/44614,[42],189.0,IL,Israel,NaN,Ido,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44614.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39120,https://api.triathlon.org/v1/v1/athletes/44613,[42],189.0,IL,Israel,NaN,Niv,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44613.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39121,https://api.triathlon.org/v1/v1/athletes/44611,[42],189.0,IL,Israel,NaN,On,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44611.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39122,https://api.triathlon.org/v1/v1/athletes/44610,[42],189.0,IL,Israel,NaN,Nir,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44610.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39123,https://api.triathlon.org/v1/v1/athletes/44609,[42],189.0,IL,Israel,2016-07-26T12:14:59+00:00,Mor,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,female,44609.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39124,https://api.triathlon.org/v1/v1/athletes/44607,[42],189.0,IL,Israel,NaN,Matan,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44607.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39125,https://api.triathlon.org/v1/v1/athletes/44601,[42],290.0,UA,Ukraine,NaN,Ivan,https://f9ca11ef49c28681fc01-0acbf57e00c47a50e...,male,44601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df= pd.read_csv('total_with_splits')

In [9]:
df= df.drop(columns=['Unnamed: 0','Unnamed: 0.1']

In [365]:
#drop unamed, add athlete_id and set athlete id to beigning of DF
race_1 = pd.read_csv('race_1',).drop(columns=['Unnamed: 0'])
race_1['athlete_id']=df['athlete_id']
race_1=race_1.set_index('athlete_id').reset_index()

In [169]:
results= pd.read_csv('results_of_race').drop(columns=['Unnamed: 0'])
results['athlete_id']=df['athlete_id']
results=results.set_index('athlete_id').reset_index()

In [172]:
# results= df.sort_index(ascending=False)

In [173]:
test=results.sort_index(ascending=False)

In [74]:
def nested_dict_athlete_id(x):
    _list_final=[]
    for i in x.values:
        _list_final.append(i)
    a= pd.DataFrame(_list_final)
    a['athlete_id']=df['athlete_id']
    a=a.set_index('athlete_id').reset_index()
    return a

In [71]:
def _dict(_series):
    _series = _series.map(lambda x:eval(x))
    return _series

In [75]:
race_2= nested_dict_athlete_id(results['race_2'])

In [76]:
race_2= race_2.rename(columns={'athlete_id': 'athlete_id', 0: "race_2"})

In [77]:
def nested_dict(x):
    _list_final=[]
    for i in x.values:
        _list_final.append(i)
    a= pd.DataFrame(_list_final)
    return a

In [213]:
race_4 = pd.read_csv('race_4')

In [814]:
t =nested_dict(results['race_2'])

In [499]:
columns = [i for i in df.columns]

In [12]:
columns_edit=['athlete_api_listing','athlete_country_isoa2','athlete_country_name','athlete_edit_date','athlete_first','athlete_flag','athlete_listing','athlete_noc',
 'athlete_profile_image','athlete_slug','athlete_title','debut','facebook','height','hero','latest_images','latest_news','latest_results','latest_videos','memorable_achievement','nickname','paratriathlete',
'presentation_summary','profile_edit_date','twitter','website','tag_info','biography','major_games','other_sports_competed','results_wts','residence','stats']

In [566]:
df.isnull().sum()

athlete_api_listing          0
athlete_categories           0
athlete_country_id           0
athlete_country_isoa2        2
athlete_country_name         0
athlete_edit_date           72
athlete_first                0
athlete_flag                 0
athlete_gender               0
athlete_id                   0
athlete_last                 0
athlete_listing              0
athlete_noc                  0
athlete_profile_image     1756
athlete_slug                 0
athlete_title                0
athlete_yob                  0
biography                 1884
coach                     1917
current_rankings             0
debut                     1905
facebook                  1939
height                    1853
hero                      1961
higher_education          1925
hobbies                   1936
injuries                  1976
languages_spoken          1902
latest_images                0
latest_news               1858
latest_results               0
latest_videos             1858
major_games                  0
marital_status            1705
memorable_achievement     1958
nickname                  1958
occupation                1944
other_sports_competed     1955
paratriathlete               0
place_of_birth            1886
presentation_summary      1942
profile_edit_date           72
residence                 1729
results_wts                  0
sponsors                  1908
spouse_children           1985
stats                        0
tag_info                  1858
twitter                   1901
validated                    0
website                   1915
weight                    1854
finish_percentage           30
race_finishes                0
race_podium_percentage      30
race_podiums                 0
race_starts                  0
race_wins                    0
dtype: int64

In [13]:
total_extended_drop = total_extended.drop(columns_edit, axis=1)

In [16]:
total_extended_drop.columns

Index(['athlete_categories', 'athlete_country_id', 'athlete_gender',
       'athlete_id', 'athlete_last', 'athlete_yob', 'coach',
       'current_rankings', 'higher_education', 'hobbies', 'injuries',
       'languages_spoken', 'marital_status', 'occupation', 'place_of_birth',
       'sponsors', 'spouse_children', 'validated', 'weight',
       'finish_percentage', 'race_finishes', 'race_podium_percentage',
       'race_podiums', 'race_starts', 'race_wins', 'event_api_listing',
       'event_categories', 'event_country', 'event_country_id',
       'event_country_isoa2', 'event_country_noc', 'event_date',
       'event_edit_date', 'event_finish_date', 'event_flag', 'event_id',
       'event_latitude', 'event_listing', 'event_longitude', 'event_region_id',
       'event_region_name', 'event_slug', 'event_specifications',
       'event_title', 'event_venue', 'headers', 'headers_count', 'position',
       'prog_date', 'prog_id', 'prog_name', 'prog_time', 'result_api_listing',
       'result_id', 'result_listing', 'splits', 'team', 'team_id',
       'team_order', 'total_time', 'swim', 't1', 'bike', 't2', 'run'],
      dtype='object')

In [14]:
total_extended_drop

,athlete_categories,athlete_country_id,athlete_gender,athlete_id,athlete_last,athlete_yob,coach,current_rankings,higher_education,hobbies,...,splits,team,team_id,team_order,total_time,swim,t1,bike,t2,run
0,[42],293.0,male,8405.0,Waataja,1975.0,NaN,[],NaN,NaN,...,"['00:25:38', '00:01:29', '01:10:46', '00:00:57...",NaN,NaN,NaN,02:30:38,00:25:38,00:01:29,01:10:46,00:00:57,00:51:50
1,[42],293.0,male,8404.0,Thompson,1971.0,NaN,[],Masters in Ed,NaN,...,"['00:09:05', '00:00:00', '00:55:57', '00:00:00...",NaN,NaN,NaN,01:42:35,00:09:05,00:00:00,00:55:57,00:00:00,00:37:32
2,[42],293.0,male,8403.0,Taylor,1975.0,NaN,[],NaN,NaN,...,"['00:22:31', '00:04:52', '00:42:20', '00:06:58...",NaN,NaN,NaN,01:57:09,00:22:31,00:04:52,00:42:20,00:06:58,00:40:29
3,[42],293.0,male,8402.0,Swarthout,1971.0,NaN,[],B.S. Criminal Justice Studies,Drinking Coffee,...,"['00:26:43', '01:05:09', '00:00:00', '00:01:09...",NaN,NaN,NaN,02:16:20,00:26:43,01:05:09,00:00:00,00:01:09,00:43:21
4,[42],293.0,male,8401.0,Shelp,1972.0,NaN,[],NaN,NaN,...,"['00:21:54', '00:01:17', '00:58:46', '00:00:50...",NaN,NaN,NaN,02:00:07,00:21:54,00:01:17,00:58:46,00:00:50,00:37:22
5,[42],293.0,male,8400.0,Schott,1971.0,NaN,[],NaN,NaN,...,"['00:09:23', '00:00:00', '00:55:47', '00:00:00...",NaN,NaN,NaN,01:41:13,00:09:23,00:00:00,00:55:47,00:00:00,00:36:04
6,"[40, 42]",293.0,male,8399.0,Schmitz,1973.0,NaN,[],NaN,NaN,...,"['00:21:47', '00:06:05', '00:05:16', '00:14:58...",NaN,NaN,NaN,02:14:13,00:21:47,00:06:05,00:05:16,00:14:58,01:26:08
7,[42],293.0,male,8398.0,Rochette,1973.0,NaN,[],NaN,NaN,...,"['00:29:07', '00:01:57', '01:11:54', '00:01:02...",NaN,NaN,NaN,02:24:00,00:29:07,00:01:57,01:11:54,00:01:02,00:40:02
8,[42],293.0,male,8397.0,Reardon,1972.0,NaN,[],NaN,NaN,...,"['00:22:53', '00:01:16', '01:03:09', '00:00:48...",NaN,NaN,NaN,02:06:05,00:22:53,00:01:16,01:03:09,00:00:48,00:38:00
9,[42],293.0,male,8396.0,Reagan,1971.0,NaN,[],NaN,NaN,...,"['00:09:52', '00:00:00', '00:57:24', '00:00:00...",NaN,NaN,NaN,01:45:18,00:09:52,00:00:00,00:57:24,00:00:00,00:38:02
10,[42],293.0,male,8395.0,Perez,1975.0,NaN,[],NaN,NaN,...,"['00:00:00', '00:00:00', '00:00:00', '00:00:00...",NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
11,[42],293.0,male,8394.0,O'Rourke,1972.0,NaN,[],NaN,NaN,...,"['00:32:19', '01:09:25', '00:00:00', '00:00:56...",NaN,NaN,NaN,02:26:08,00:32:19,01:09:25,00:00:00,00:00:56,00:43:30
12,[42],293.0,male,8393.0,Nikazy,1974.0,NaN,[],Middle Tennessee State University B.A.,"Writing, Listening to music, hotsauces, beer",...,"['00:25:24', '00:01:50', '01:14:23', '00:01:17...",NaN,NaN,NaN,02:26:19,00:25:24,00:01:50,01:14:23,00:01:17,00:43:27
13,[42],293.0,male,8392.0,Myers,1975.0,NaN,[],NaN,NaN,...,"['00:23:53', '00:01:23', '01:00:28', '00:01:04...",NaN,NaN,NaN,02:02:27,00:23:53,00:01:23,01:00:28,00:01:04,00:35:37
14,[42],293.0,male,8391.0,Mcmillian,1973.0,NaN,[],NaN,NaN,...,"['00:21:47', '00:01:27', '00:59:51', '00:01:02...",NaN,NaN,NaN,01:59:19,00:21:47,00:01:27,00:59:51,00:01:02,00:35:13
15,[42],293.0,male,8390.0,Mccutcheon,1972.0,NaN,[],NaN,NaN,...,"['00:25:38', '01:06:27', '00:00:00', '00:00:51...",NaN,NaN,NaN,02:15:09,00:25:38,01:06:27,00:00:00,00:00:51,00:42:14
16,[42],293.0,male,8389.0,Mccartney,1975.0,NaN,[],NaN,NaN,...,"['00:21:37', '00:01:30', '01:01:55', '00:00:48...",NaN,NaN,NaN,02:00:39,00:21:37,00:01:30,01:01:55,00:00:48,00:34:48
17,[42],293.0,male,8388.0,Ly,1974.0,NaN,[],NaN,NaN,...,"['00:32:08', '01:20:06', '00:00:00', '00:02:07...",NaN,NaN,NaN,02:38:28,00:32:08,01:20:06,00:00:00,00:02:07,00:44:07
18,[42],293.0,male,8387.0,Lovaas,1974.0,NaN,[],BA Psychology,NaN,...,"['00:22:29', '00:01:16', '01:01:54', '00:00:48...",NaN,NaN,NaN,02:06:43,00:22:29,00:01:16,01:01:54,00:00:48,00:40:16
19,[42],293.0,male,8386.0,Kelley,1972.0,NaN,[],NaN,NaN,...,"['00:28:08', '01:08:43', '00:00:00', '00:01:10...",NaN,NaN,NaN,02:21:11,00:28:08,01:08:43,00:00:00,00:01:10,00:43:10
20,[42],293.0,male,8385.0,Kaldawy,1972.0,NaN,[],NaN,NaN,...,"['00:26:46', '01:04:30', '00:00:00', '00:01:04...",NaN,NaN,NaN,02:11:35,00:26:46,01:04:30,00:00:00,00:01:04,00:39:15
21,[42],293.0,male,8384.0,Hertell,1974.0,NaN,[],NaN,NaN,...,"['00:21:29', '00:01:23', '01:02:25', '00:00:54...",NaN,NaN,NaN,02:03:05,00:21:29,00:01:23,01:02:25,00:00:54,00:36:54
22,[42],293.0,male,8383.0,Fernandez,1973.0,NaN,[],NaN,NaN,...,"['00:21:23', '00:01:14', '01:09:14', '00:00:54...",NaN,NaN,NaN,02:15:41,00:21:23,00:01:14,01:09:14,00:00:54,00:42:59
23,[42],188.0,male,8382.0,Kelly,1973.0,NaN,[],NaN,NaN,...,"['00:24:32', '00:01:34', '01:04:49', '00:00:53...",NaN,NaN,NaN,02:11:38,00:24:32,00:01:34,01:04:49,00:00:53,00:39:50
24,[42],293.0,male,8381.0,Essner,1971.0,NaN,[],NaN,NaN,...,"['00:27:38', '00:02:08', '01:06:15', '00:01:48...",NaN,NaN,NaN,02:19:53,00:27:38,00:02:08,01:06:15,00:01:48,00:42:05
25,[42],293.0,male,8380.0,Diestler,1975.0,NaN,[],college,"star gazing, art",...,"['00:24:42', '01:06:51', '00:00:00', '00:01:13...",NaN,NaN,NaN,02:19:50,00:24:42,01:06:51,00:00:00,00:01:13,00:47:06
26,[42],293.0,male,8379.0,Dewey,1973.0,NaN,[],NaN,NaN,...,"['00:21:23', '00:01:30', '01:03:05', '00:00:51...",NaN,NaN,NaN,02:02:37,00:21:23,00:01:30,01:03:05,00:00:51,00:35:49
27,[42],293.0,male,8378.0,Delgado,1971.0,NaN,[],NaN,NaN,...,"['00:00:00', '00:00:00', '00:00:00', '00:00:00...",NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
28,[42],293.0,male,8377.0,Deighan,1971.0,NaN,[],NaN,NaN,...,"['00:00:00', '00:00:00', '00:00:00', '00:00:00...",NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
29,[42],293.0,male,8376.0,Croley,1972.0,NaN,[],NaN,NaN,...,"['00:00:00', '00:00:00', '00:13:41', '00:01:21...",NaN,NaN,NaN,00:33:50,00:00:00,00:00:00,00:13:41,00:01:21,00:18:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39096,[42],127.0,male,44701.0,Furlan,1974.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39097,[42],189.0,male,44699.0,Lamdani,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39098,[42],194.0,female,44693.0,Yerofeyeva,1985.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39099,[42],108.0,male,44677.0,Monaco,1984.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39100,[42],189.0,male,44674.0,Fargon,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39101,[42],189.0,female,44673.0,Nes El,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39102,[42],189.0,female,44671.0,Gino,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39103,[42],189.0,male,44670.0,Ashkenazi,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39104,[42],189.0,male,44669.0,Ashkenazi,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39105,[42],189.0,male,44667.0,Amit,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39106,[42],189.0,male,44666.0,Liberman,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39107,[42],290.0,female,44660.0,Tsomyk,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39108,[42],297.0,male,44655.0,Pernia Rodriguez,1989.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39109,[42],127.0,male,44653.0,Luiz,1978.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39110,[42],287.0,female,44646.0,Akyay,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39111,[42],251.0,female,44627.0,Kasheeva,1992.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39112,[42],108.0,male,44624.0,Sanchez SaÃ±udo,1986.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39113,[42],287.0,male,44623.0,Akbaba,1992.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39114,[42],287.0,male,44622.0,Onay,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39115,[42],189.0,male,44620.0,Strashnov,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39116,[42],189.0,male,44619.0,Fridman,1992.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39117,[42],189.0,male,44618.0,Gez,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39118,[42],189.0,female,44616.0,Aharoni,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39119,[42],189.0,male,44614.0,Benifla,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39120,[42],189.0,male,44613.0,Akdem,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39121,[42],189.0,male,44611.0,Kuritzky,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39122,[42],189.0,male,44610.0,Cohen,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39123,[42],189.0,female,44609.0,Mintz,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39124,[42],189.0,male,44607.0,Green,1992.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39125,[42],290.0,male,44601.0,Pistol,1988.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [570]:
race_1.dtypes

athlete_id                int64
event_api_listing        object
event_categories         object
event_country            object
event_country_id          int64
event_country_isoa2      object
event_country_noc        object
event_date               object
event_edit_date          object
event_finish_date        object
event_flag               object
event_id                  int64
event_latitude          float64
event_listing            object
event_longitude         float64
event_region_id           int64
event_region_name        object
event_slug               object
event_specifications     object
event_title              object
event_venue              object
headers                  object
headers_count             int64
position                 object
prog_date                object
prog_id                   int64
prog_name                object
prog_time                object
result_api_listing       object
result_id                 int64
result_listing           object
splits                   object
total_time               object
swim                     object
t1                       object
bike                     object
t2                       object
run                      object
dtype: object

In [18]:
columns_event = ['event_api_listing','event_api_listing','event_country_isoa2','event_country_noc','event_edit_date','event_finish_date','event_flag','event_listing','event_region_name' ,'event_slug','event_title','headers','prog_date','prog_name','prog_time','result_api_listing','splits']

In [19]:
total_extended_drop= total_extended_drop.drop(columns_event,axis=1)

In [28]:
# total_extended_drop

In [674]:
total_race_1= df_edit.merge(race_1, on='athlete_id')

In [602]:
len(total_race_1.dtypes)

46

In [675]:
total_race_1=total_race_1.set_index('total_time').reset_index()

In [673]:
# total_race_1['swim'].astype(int)

In [628]:
# total_race_1[total_race_1['total_time']==['DNS','Lap',DSQ,LAP,DNF]]

In [620]:
for i in total_race_1['total_time'].unique():
    print (i)

DNS
00:57:52
01:09:56
00:54:56
01:12:33
00:59:01
01:15:44
02:14:21
01:16:08
02:10:29
01:52:27
01:04:49
00:56:25
01:16:22
01:06:46
01:24:07
01:06:04
00:38:44
00:34:06
LAP
01:03:56
01:40:35
01:24:20
01:26:53
01:49:30
01:09:52
01:53:26
00:42:33
01:58:33
00:39:12
01:55:22
00:42:01
DNF
00:58:58
00:30:15
00:41:10
01:05:13
00:59:59
00:54:08
00:59:51
02:19:09
09:10:55
01:14:22
00:54:45
01:07:11
02:21:18
01:00:19
00:30:30
00:43:45
02:51:13
01:08:27
01:48:17
01:04:28
00:59:56
01:07:47
 01:01:12
02:09:21
 01:00:13
01:55:14
01:02:12
01:07:30
00:40:00
02:10:42
00:31:40
01:28:04
00:36:05
1:01:20
01:03:49
01:50:18
01:47:25
 01:06:35
01:59:48
01:01:35
01:16:27
01:44:43
01:45:42
01:13:24
01:44:25
00:54:12
01:52:33
00:39:24
00:53:35
01:02:46
01:53:53
00:38:16
00:40:28
02:44:30
00:41:19
01:46:24
 01:09:58
01:08:08
00:41:25
08:22:39
01:15:38
02:32:11
01:17:48
02:39:29
01:20:10
02:22:33
00:33:20
01:13:20
01:05:32
01:59:26
01:04:36
02:09:31
01:04:57
01:05:17
01:13:58
01:14:43
00:57:53
01:14:16
02:07:08
01:06:18
01:22:29
01:50:28
02:05:55
01:30:46
01:09:29
01:53:15
01:07:58
02:29:09
00:30:06
01:37:29
01:02:13
00:31:30
01:44:31
01:18:20
01:05:14
01:01:12
01:08:21
02:00:31
01:29:01
01:53:31
 01:04:54
01:53:21
00:57:45
00:55:19
00:57:05
01:25:18
01:31:33
01:25:59
01:00:30
01:45:57
01:13:11
01:46:22
01:15:34
01:42:25
01:12:06
01:52:41
01:12:14
01:26:27
01:57:27
01:10:27
02:12:09
01:01:45
01:56:21
 00:59:32
02:51:07
00:35:41
01:08:06
00:35:44
02:29:53
00:35:26
01:18:34
01:06:06
01:12:02
01:03:55
02:21:32
01:01:03
01:01:22
01:04:20
01:18:21
00:39:05
02:10:37
00:58:55
02:08:19
00:35:56
01:18:55
01:02:11
01:24:04
01:11:01
01:25:05
01:09:26
00:52:56
01:49:47
00:58:39
00:57:49
02:12:03
01:03:57
01:51:58
01:00:51
00:39:30
01:58:14
01:18:41
01:06:50
00:59:15
02:05:34
01:06:52
14:34:57
01:59:15
01:13:42
02:11:59
01:57:44
01:08:03
02:27:12
01:00:42
02:00:23
01:45:04
01:05:42
01:23:37
01:09:11
01:59:16
01:06:34
01:16:49
00:27:45
01:19:08
01:09:54
01:06:32
01:56:46
00:38:19
01:54:43
01:01:36
01:48:05
00:37:02
01:04:14
 00:59:03
01:54:11
01:05:45
01:58:39
01:20:11
01:02:30
2:00:50
01:11:10
01:54:53
00:37:24
00:37:56
01:56:39
00:59:11
01:02:34
01:53:16
01:02:53
02:26:07
00:26:24
01:17:03
00:28:30
02:21:15
00:38:46
00:52:30
01:03:21
00:57:19
01:04:29
00:26:59
02:33:39
00:40:58
01:53:56
00:41:38
01:08:17
01:58:01
00:55:24
01:01:20
01:13:55
01:17:54
01:45:06
00:59:04
02:09:07
01:03:39
02:42:10
01:01:40
02:01:15
00:57:13
01:45:01
00:59:52
01:41:11
00:58:08
01:49:52
00:00:00
00:54:50
01:45:58
01:10:43
01:03:28
02:32:44
01:03:36
01:13:28
00:59:21
01:47:59
00:58:27
01:18:47
01:02:49
03:09:06
01:02:04
02:30:25
01:16:41
01:56:53
01:18:02
01:29:17
06:10:53
DSQ
01:15:04
01:11:44
02:43:51
01:15:55
01:32:21
01:00:59
01:05:15
01:36:05
01:08:38
01:09:41
01:00:48
02:14:40
00:38:33
09:47:52
 01:02:32
01:05:01
01:56:00
02:01:14
01:05:33
01:05:53
01:47:11
02:06:06
01:25:19
01:07:50
01:17:32
01:19:53
01:55:40
00:38:57
01:00:36
01:08:25
02:44:17
01:07:10
01:22:34
01:00:47
01:50:42
01:10:59
01:57:23
01:12:40
02:04:46
01:53:49
01:04:12
01:24:43
01:02:05
01:44:56
01:05:54
02:11:00
01:55:10
02:00:26
01:10:08
01:52:00
00:38:25
02:02:56
01:47:40
00:57:59
 00:59:26
02:08:39
01:03:53
01:48:31
01:11:39
02:03:23
1:13:29
02:13:51
01:14:14
01:14:04
01:03:09
01:10:32
01:02:27
00:55:29
01:00:52
00:30:02
02:30:10
01:52:50
01:07:32
01:33:42
01:03:04
01:07:37
01:58:20
00:56:51
02:09:27
01:56:01
00:54:03
00:56:42
01:12:48
 00:59:23
09:40:35
01:52:46
01:03:34
01:43:28
01:01:21
01:52:56
00:56:31
01:44:48
00:38:01
01:45:51
00:41:01
01:51:09
01:01:24
01:57:48
00:55:16
01:02:09
01:48:25
00:44:58
01:50:43
01:44:34
00:30:43
02:02:41
01:49:21
00:38:22
00:58:41
00:40:41
01:55:02
00:27:28
01:48:38
00:55:18
00:38:40
01:03:50
01:16:56
02:01:46
00:58:16
00:55:30
01:55:17
01:09:10
01:05:41
01:47:12
01:52:07
00:58:35
02:11:11
02:09:56
01:01:26
02:32:29
01:01:54
02:30:42
00:56:41
02:04:16
00:26:33
02:04:36
01:03:17
01:52:02
01:28:51
01:09:30
00:59:10
02:03:09
00:41:29
00:54:55
01:54:49
01:04:08
01:50:57
01:18:51
01:02:08
02:11:50
01:01:04
01:20:46
01:13:31
1:02:44
00:57:50
01:55:24
00:59:27
01:59:25
01:04:55
01:47:35
01:58:23
01:02:26
02:41:15
00:30:36
02:22:02
01:05:05
04:20:56
00:54:31
01:02:57
00:40:57
01:48:53
01:57:32
01:07:53
01:00:01
00:41:11
01:01:55
00:54:33
01:22:16
01:51:55
01:01:51
00:58:23
00:29:37
01:58:56
00:41:39
01:49:06
02:09:35
01:59:28
01:02:58
02:02:28
01:07:44
01:50:37
00:29:45
01:00:03
02:09:45
01:00:09
02:00:52
01:02:55
01:51:34
01:11:13
01:48:15
00:27:01
00:35:42
01:31:09
01:08:41
01:02:54
02:16:56
01:04:30
01:10:41
01:08:22
03:36:43
02:20:17
02:14:33
02:11:39
01:13:49
00:35:37
02:16:47
02:56:49
02:51:22
02:45:05
02:37:34
03:09:58
02:34:10
11:31:48
02:35:47
02:24:43
02:19:45
02:12:08
02:25:59
02:22:14
02:12:57
02:38:07
02:43:33
02:51:06
02:16:05
02:17:52
02:24:22
02:15:22
02:38:01
02:34:12
02:45:06
02:20:01
02:35:23
02:23:12
02:18:13
02:22:22
03:22:12
09:21:16
02:34:49
02:28:17
02:27:57
01:42:04
01:46:14
01:23:02
01:31:23
01:27:05
01:34:05
01:49:43
01:21:04
01:19:05
01:43:33
01:32:19
01:26:01
01:19:17
01:20:45
01:20:56
01:22:03
01:18:23
01:29:10
01:14:28
01:18:01
03:08:27
01:19:43
01:23:17
01:14:36
01:18:25
01:14:09
01:09:40
01:05:21
01:16:14
01:08:57
01:28:56
01:08:51
01:13:03
01:07:02
01:06:16
01:05:11
01:08:39
01:04:33
01:06:38
00:54:15
01:01:46
01:11:33
00:45:49
00:43:05
00:38:43
02:44:33
00:59:13
01:04:31
00:38:37
01:31:15
01:15:10
00:42:51
01:04:35
00:59:26
02:11:49
01:51:52
01:59:42
01:11:55
01:11:36
01:10:26
00:36:23
01:16:06
01:28:31
01:25:20
00:41:00
01:05:03
00:38:14
01:06:45
00:54:47
01:06:17
01:06:39
01:06:53
00:36:53
01:08:10
01:05:47
01:07:48
01:03:25
01:19:36
01:20:39
01:26:40
01:28:11
01:32:32
01:31:35
01:27:43
01:29:19
01:27:45
01:33:22
01:20:54
01:15:48
01:16:47
01:22:13
01:21:27
01:12:11
01:28:00
01:14:24
01:45:15
01:29:39
01:18:26
01:18:10
01:17:27
01:17:12
01:11:12
01:26:23
01:24:01
01:19:27
01:20:17
01:11:59
01:04:46
00:37:04
01:20:08
01:18:24
01:30:19
01:48:33
01:12:56
01:17:25
01:28:44
01:13:51
01:13:18
01:19:01
01:25:39
01:29:15
01:09:15
01:07:15
00:59:40
01:08:31
01:13:15
01:02:56
01:28:22
01:26:43
01:18:48
01:13:25
01:15:33
01:12:42
01:28:25
01:08:49
01:06:03
01:10:30
01:08:24
01:07:49
01:10:10
01:00:38
02:12:06
01:07:46
01:15:16
01:22:21
01:16:11
01:19:25
01:09:51
01:15:21
01:22:59
01:11:49
01:08:32
01:16:01
01:03:32
01:08:40
01:12:21
01:03:37
01:09:18
00:37:17
01:27:53
01:21:38
01:18:44
01:07:13
01:22:31
01:21:50
01:33:23
01:09:04
01:00:45
01:09:36
01:06:02
01:15:39
01:12:53
02:00:29
01:24:45
02:41:54
02:27:35
02:57:17
03:12:02
02:14:20
02:32:56
02:38:14
05:19:47
02:48:54
02:41:35
02:29:45
03:09:01
02:48:44
02:36:59
02:37:00
02:34:20
03:16:14
01:35:29
06:08:48
02:27:09
03:13:14
02:32:08
01:17:00
01:52:28
02:40:46
02:53:26
02:44:12
02:33:34
01:55:29
02:40:00
08:16:21
03:21:38
09:16:37
02:15:51
02:00:16
02:33:47
01:55:25
02:35:13
02:01:54
03:00:54
02:38:02
01:44:08
02:11:31
01:01:59
02:41:58
02:30:14
02:19:42
02:09:30
02:55:51
05:18:28
02:55:20
02:23:09
02:26:45
02:11:45
03:01:36
02:18:04
02:33:13
01:52:52
01:17:42
02:30:19
01:10:54
03:13:03
01:03:45
00:57:36
01:10:53
02:38:54
01:15:05
01:04:41
01:04:18
00:55:54
02:14:42
02:20:55
 01:08:11
01:07:56
01:23:04
01:22:53
01:21:44
01:15:08
03:30:23
02:24:36
08:30:41
02:27:21
01:29:43
01:04:16
01:10:02
01:10:34
01:17:55
01:00:11
01:04:09
01:06:11
01:07:12
01:03:22
00:46:32
01:03:44
01:02:44
01:06:47
 01:09:27
00:58:36
01:10:03
02:04:02
01:07:04
00:56:55
00:54:01
01:04:44
 01:09:48
2:10:36
01:05:40
00:29:19
02:39:03
01:00:41
01:04:27
01:07:20
01:15:43
01:00:16
01:59:04
 00:57:13
01:18:32
01:09:45
02:26:19
01:02:38
01:02:16
00:30:59
00:47:23
 01:13:48
01:10:16
01:14:49
01:12:38
02:35:05
00:54:21
00:58:12
00:59:46
1:08:21
01:15:24
1:10:32
00:56:22
04:18:53
02:24:31
01:12:32
02:03:14
01:38:50
00:59:54
01:00:27
02:13:41
00:31:15
01:12:08
00:53:59
00:39:03
00:59:45
01:06:19
01:08:42
01:16:46
00:56:39
 01:00:18
01:05:48
02:00:53
01:45:19
01:00:54
00:56:08
00:58:00
00:42:46
01:00:05
00:01:05
01:10:07
01:04:34
00:53:06
00:57:07
01:00:26
01:01:28
00:38:18
00:56:17
01:19:49
00:56:46
01:41:30
01:12:55
01:01:39
01:10:29
00:59:02
02:29:24
00:59:16
02:13:18
00:55:08
00:58:25
01:00:29
00:53:42
00:55:06
00:58:45
00:55:23
01:01:18
02:10:32
00:38:36
00:40:52
01:03:05
00:55:53
01:00:43
00:58:52
01:19:39
01:02:28
00:55:04
00:57:00
01:28:29
01:00:31
01:09:01
01:00:23
00:01:06
01:00:55
00:57:34
01:08:36
00:54:57
00:59:36
00:59:18
00:57:42
00:59:12
01:23:03
01:11:22
01:11:17
00:54:04
1:04:35
02:45:24
03:06:47
01:13:43
02:38:00
09:02:43
00:59:50
01:04:13
01:11:54
01:58:28
02:15:28
01:01:56
00:58:49
01:11:56
01:02:21
00:37:42
00:58:46
00:54:48
02:31:37
02:56:11
02:35:37
02:21:08
02:31:11
02:36:07
01:02:22
00:59:42
03:23:22
01:22:23
02:37:27
01:11:04
02:59:34
01:06:15
01:04:53
01:04:45
02:09:22
01:02:52
01:04:42
02:14:58
02:45:53
01:19:31
01:07:51
01:52:15
01:00:33
01:12:44
01:06:25
01:00:34
01:08:47
01:01:58
00:56:35
08:22:15
03:21:11
02:40:56
02:05:14
01:02:00
02:17:47
02:25:10
01:01:09
01:18:29
01:03:59
02:40:24
02:03:21
01:53:18
01:05:29
02:11:56
02:17:09
02:53:50
02:37:23
02:54:09
01:11:25
01:30:13
02:11:04
01:00:58
01:09:37
01:10:05
02:18:29
01:08:15
01:10:55
01:13:29
01:28:54
02:22:28
01:21:03
01:22:49
01:05:16
01:18:40
01:47:51
 01:07:11
01:13:33
01:03:51
00:56:34
01:16:48
01:14:25
01:08:11
01:32:39
01:19:13
01:05:27
02:06:50
01:06:48
00:55:12
01:04:06
01:26:37
01:27:18
00:59:20
01:19:33
01:51:24
02:09:18
02:08:28
02:07:43
03:03:54
01:19:58
02:46:21
02:36:58
02:24:20
02:38:06
02:36:05
02:17:17
02:17:08
02:23:53
02:17:19
02:51:43
02:44:25
01:32:51
01:31:26
01:15:09
02:11:32
01:09:46
01:11:24
02:42:24
01:15:07
09:15:44
01:12:31
02:28:00
01:18:05
00:53:20
01:01:08
01:48:22
01:00:08
00:31:10
1:09:50
00:55:25
01:00:22
01:01:01
01:00:00
01:09:49
00:34:35
01:02:01
01:58:22
01:05:25
01:03:58
01:08:12
01:40:59
01:01:16
00:54:09
01:50:11
00:37:46
 01:07:13
01:02:06
02:17:00
02:59:36
00:56:02
00:58:07
02:25:23
02:05:28
01:30:31
00:58:18
01:47:19
01:48:11
00:54:24
00:58:42
01:01:15
01:03:54
1:54:17
01:03:23
01:01:34
01:06:07
01:09:33
01:54:28
01:29:24
01:07:31
05:33:47
01:21:32
01:39:56
01:43:06
00:53:54
01:07:17
01:33:30
00:54:58
00:58:51
06:45:24
00:57:43
05:59:07
06:16:56
06:18:05
06:34:02
08:23:35
05:27:59
05:55:24
05:16:39
05:58:56
01:13:36
02:15:59
06:23:58
07:31:24
06:07:08
05:56:47
05:44:24
00:55:02
00:53:40
00:57:57
00:57:16
01:07:54
00:53:22
00:55:41
01:02:10
01:04:39
01:07:05
01:07:34
01:16:59
01:05:08
07:22:42
00:56:27
01:09:32
01:57:58
 01:11:36
 01:09:14
01:43:21
01:56:03
01:44:29
02:23:03
02:03:27
01:25:04
01:14:30
01:13:44
01:31:40
01:03:18
00:52:39
03:02:06
01:46:54
02:29:10
02:35:32
00:58:37
02:31:38
01:04:00
02:21:25
01:04:17
02:30:55
01:21:55
02:35:38
02:26:09
02:12:44
01:08:34
02:15:17
01:10:57
02:01:00
00:54:27
00:54:41
01:58:45
00:57:21
 00:58:11
00:53:07
00:53:12
00:54:16
01:10:45
01:06:49
00:59:23
01:01:49
00:55:47
00:58:47
01:07:22
02:21:13
02:19:02
02:38:50
00:44:57
2:17:58
01:42:40
01:47:27
00:54:29
00:38:30
01:06:56
01:01:11
01:01:50
00:57:10
00:01:04
01:21:08
01:03:14
02:08:10
01:53:30
00:53:56
03:04:56
01:13:09
00:55:56
01:03:52
01:55:16
01:14:38
00:59:19
01:02:23
01:02:41
02:33:26
08:26:41
01:20:58
01:14:54
02:24:13
01:23:51
00:58:15
00:54:37
01:00:06
00:53:39
00:59:25
02:22:15
02:05:53
02:44:45
01:07:25
01:12:37
00:53:37
02:09:25
00:57:23
01:06:35
02:21:10
02:34:52
01:08:43
08:26:51
01:18:07
01:05:02
02:09:52
01:03:38
01:13:46
01:00:44
01:12:20
00:52:49
00:59:39
01:05:52
01:52:48
 01:01:03
02:25:16
01:09:47
01:21:06
01:15:56
02:09:10
01:15:50
01:03:02
02:17:58
01:20:40
01:09:02
01:21:41
04:11:30
02:25:28
03:02:21
01:14:18
04:46:46
02:21:39
02:21:01
01:02:20
02:19:10
01:39:25
02:18:05
01:08:07
01:30:08
01:31:05
01:08:35
00:55:44
01:00:25
01:50:41
01:03:35
00:56:50
01:12:03
00:55:07
01:00:13
00:57:25
02:09:51
01:13:56
01:00:12
01:37:59
00:53:05
01:05:30
01:00:56
01:14:58
06:08:22
00:52:45
02:24:39
1:53:19
01:47:13
00:27:57
1:53:04
01:49:55
01:46:00
00:59:30
01:15:01
01:47:20
01:13:47
02:19:51
01:23:50
01:20:36
04:15:21
03:58:26
04:55:53
07:05:50
02:09:17
00:55:15
00:59:08
01:02:33
00:59:43
01:15:20
02:11:18
01:04:10
01:49:29
08:39:45
02:04:11
02:32:57
01:16:17
01:05:34
01:57:12
02:10:21
01:56:34
00:55:13
01:47:00
00:59:34
01:07:16
00:53:50
01:03:06
01:06:30
 01:09:34
00:52:58
01:11:50
00:28:59
02:29:27
02:48:17
01:57:13
01:58:59
02:58:51
02:25:37
01:50:38
01:48:32
02:16:21
02:09:29
02:18:25
02:36:37
03:08:30
01:09:16
01:16:54
01:13:16
02:11:58
02:08:08
01:34:54
01:14:35
03:11:04
02:48:56
01:25:49
01:31:03
02:36:51
02:16:44
02:53:17
02:27:49
01:18:27
02:15:33
00:38:35
02:23:48
03:33:30
01:03:07
01:20:30
01:34:17
01:23:30
01:24:38
00:41:36
02:05:42
00:43:02
01:55:26
01:20:02
01:05:24
02:27:25
02:04:23
02:23:32
01:25:33
02:02:27
01:59:19
00:56:00
01:00:17
01:09:05
01:56:16
01:00:18
01:00:20
00:55:57
00:59:24
02:11:15
00:55:36
00:52:59
01:54:25
01:53:02
02:00:10
01:02:48
01:52:39
00:44:36
01:52:34
1:04:47
01:05:22
03:04:39
02:09:16
01:52:44
01:09:00
01:15:30
01:04:03
02:08:54
02:04:52
01:22:54
01:42:48
01:00:50
02:10:33
00:55:43
02:21:49
02:28:24
01:21:17
01:23:58
02:27:59
02:13:06
01:15:26
00:44:01
00:56:07
02:05:00
02:25:21
02:15:49
01:17:16
2:04:58
00:54:53
02:03:06
01:49:07
00:57:11
00:55:10
01:47:29
00:52:27
02:04:14
02:20:57
01:00:15
 01:01:09
00:57:46
02:03:48
1:53:30
01:56:33
00:53:41
01:51:10
02:04:17
02:15:45
02:15:53
01:00:57
01:00:07
01:41:43
01:46:38
01:25:17
01:57:35
01:46:53
01:17:45
01:48:50
00:55:31
00:52:48
08:12:16
01:13:02
02:04:01
02:01:26
01:57:16
01:51:29
01:03:01
01:08:14
02:01:48
01:03:29
02:14:22
01:53:12
01:14:50
01:26:24
01:12:36
01:04:11
02:13:13
00:58:17
1:09:48
01:35:19
01:24:16
08:21:48
00:57:39
02:21:51
01:19:55
02:09:57
01:29:09
01:29:31
01:23:26
02:15:01
02:48:26
00:55:14
00:38:23
00:39:56
01:03:42
09:46:39
12:26:57
01:58:16
01:51:17
01:59:22
01:17:33
01:03:48
01:52:53
01:58:49
02:31:57
01:55:45
02:20:59
1:51:59
01:19:57
 00:58:02
02:16:12
01:07:33
00:52:43
02:10:18
01:55:18
02:04:58
02:47:01
01:42:17
02:28:34
00:56:37
00:57:30
00:57:32
1:03:52
02:08:13

In [23]:
total_extended_drop['total_time'].replace( to_replace='DNF',value=0,inplace=True)

In [24]:
total_extended_drop

,athlete_categories,athlete_country_id,athlete_gender,athlete_id,athlete_last,athlete_yob,coach,current_rankings,higher_education,hobbies,...,result_listing,team,team_id,team_order,total_time,swim,t1,bike,t2,run
0,[42],293.0,male,8405.0,Waataja,1975.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:30:38,00:25:38,00:01:29,01:10:46,00:00:57,00:51:50
1,[42],293.0,male,8404.0,Thompson,1971.0,NaN,[],Masters in Ed,NaN,...,https://www.triathlon.org/results/result/2008_...,NaN,NaN,NaN,01:42:35,00:09:05,00:00:00,00:55:57,00:00:00,00:37:32
2,[42],293.0,male,8403.0,Taylor,1975.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2010_...,NaN,NaN,NaN,01:57:09,00:22:31,00:04:52,00:42:20,00:06:58,00:40:29
3,[42],293.0,male,8402.0,Swarthout,1971.0,NaN,[],B.S. Criminal Justice Studies,Drinking Coffee,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:16:20,00:26:43,01:05:09,00:00:00,00:01:09,00:43:21
4,[42],293.0,male,8401.0,Shelp,1972.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:00:07,00:21:54,00:01:17,00:58:46,00:00:50,00:37:22
5,[42],293.0,male,8400.0,Schott,1971.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2008_...,NaN,NaN,NaN,01:41:13,00:09:23,00:00:00,00:55:47,00:00:00,00:36:04
6,"[40, 42]",293.0,male,8399.0,Schmitz,1973.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2006_...,NaN,NaN,NaN,02:14:13,00:21:47,00:06:05,00:05:16,00:14:58,01:26:08
7,[42],293.0,male,8398.0,Rochette,1973.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:24:00,00:29:07,00:01:57,01:11:54,00:01:02,00:40:02
8,[42],293.0,male,8397.0,Reardon,1972.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:06:05,00:22:53,00:01:16,01:03:09,00:00:48,00:38:00
9,[42],293.0,male,8396.0,Reagan,1971.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2008_...,NaN,NaN,NaN,01:45:18,00:09:52,00:00:00,00:57:24,00:00:00,00:38:02
10,[42],293.0,male,8395.0,Perez,1975.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
11,[42],293.0,male,8394.0,O'Rourke,1972.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:26:08,00:32:19,01:09:25,00:00:00,00:00:56,00:43:30
12,[42],293.0,male,8393.0,Nikazy,1974.0,NaN,[],Middle Tennessee State University B.A.,"Writing, Listening to music, hotsauces, beer",...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:26:19,00:25:24,00:01:50,01:14:23,00:01:17,00:43:27
13,[42],293.0,male,8392.0,Myers,1975.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:02:27,00:23:53,00:01:23,01:00:28,00:01:04,00:35:37
14,[42],293.0,male,8391.0,Mcmillian,1973.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,01:59:19,00:21:47,00:01:27,00:59:51,00:01:02,00:35:13
15,[42],293.0,male,8390.0,Mccutcheon,1972.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:15:09,00:25:38,01:06:27,00:00:00,00:00:51,00:42:14
16,[42],293.0,male,8389.0,Mccartney,1975.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:00:39,00:21:37,00:01:30,01:01:55,00:00:48,00:34:48
17,[42],293.0,male,8388.0,Ly,1974.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:38:28,00:32:08,01:20:06,00:00:00,00:02:07,00:44:07
18,[42],293.0,male,8387.0,Lovaas,1974.0,NaN,[],BA Psychology,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:06:43,00:22:29,00:01:16,01:01:54,00:00:48,00:40:16
19,[42],293.0,male,8386.0,Kelley,1972.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:21:11,00:28:08,01:08:43,00:00:00,00:01:10,00:43:10
20,[42],293.0,male,8385.0,Kaldawy,1972.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:11:35,00:26:46,01:04:30,00:00:00,00:01:04,00:39:15
21,[42],293.0,male,8384.0,Hertell,1974.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:03:05,00:21:29,00:01:23,01:02:25,00:00:54,00:36:54
22,[42],293.0,male,8383.0,Fernandez,1973.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:15:41,00:21:23,00:01:14,01:09:14,00:00:54,00:42:59
23,[42],188.0,male,8382.0,Kelly,1973.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:11:38,00:24:32,00:01:34,01:04:49,00:00:53,00:39:50
24,[42],293.0,male,8381.0,Essner,1971.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:19:53,00:27:38,00:02:08,01:06:15,00:01:48,00:42:05
25,[42],293.0,male,8380.0,Diestler,1975.0,NaN,[],college,"star gazing, art",...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:19:50,00:24:42,01:06:51,00:00:00,00:01:13,00:47:06
26,[42],293.0,male,8379.0,Dewey,1973.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,02:02:37,00:21:23,00:01:30,01:03:05,00:00:51,00:35:49
27,[42],293.0,male,8378.0,Delgado,1971.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
28,[42],293.0,male,8377.0,Deighan,1971.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2005_...,NaN,NaN,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
29,[42],293.0,male,8376.0,Croley,1972.0,NaN,[],NaN,NaN,...,https://www.triathlon.org/results/result/2013_...,NaN,NaN,NaN,00:33:50,00:00:00,00:00:00,00:13:41,00:01:21,00:18:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39096,[42],127.0,male,44701.0,Furlan,1974.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39097,[42],189.0,male,44699.0,Lamdani,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39098,[42],194.0,female,44693.0,Yerofeyeva,1985.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39099,[42],108.0,male,44677.0,Monaco,1984.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39100,[42],189.0,male,44674.0,Fargon,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39101,[42],189.0,female,44673.0,Nes El,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39102,[42],189.0,female,44671.0,Gino,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39103,[42],189.0,male,44670.0,Ashkenazi,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39104,[42],189.0,male,44669.0,Ashkenazi,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39105,[42],189.0,male,44667.0,Amit,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39106,[42],189.0,male,44666.0,Liberman,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39107,[42],290.0,female,44660.0,Tsomyk,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39108,[42],297.0,male,44655.0,Pernia Rodriguez,1989.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39109,[42],127.0,male,44653.0,Luiz,1978.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39110,[42],287.0,female,44646.0,Akyay,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39111,[42],251.0,female,44627.0,Kasheeva,1992.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39112,[42],108.0,male,44624.0,Sanchez SaÃ±udo,1986.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39113,[42],287.0,male,44623.0,Akbaba,1992.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39114,[42],287.0,male,44622.0,Onay,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39115,[42],189.0,male,44620.0,Strashnov,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39116,[42],189.0,male,44619.0,Fridman,1992.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39117,[42],189.0,male,44618.0,Gez,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39118,[42],189.0,female,44616.0,Aharoni,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39119,[42],189.0,male,44614.0,Benifla,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39120,[42],189.0,male,44613.0,Akdem,1993.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39121,[42],189.0,male,44611.0,Kuritzky,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39122,[42],189.0,male,44610.0,Cohen,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39123,[42],189.0,female,44609.0,Mintz,1994.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39124,[42],189.0,male,44607.0,Green,1992.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39125,[42],290.0,male,44601.0,Pistol,1988.0,NaN,[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [637]:
def convert_minutes(data): 
    for i in data.columns[5:]:
        data[i] = pd.to_timedelta(data[i])
        data[i]=data[i].astype(int) / 1E9
        data[i]=(data[i]/60)
    return data

In [715]:
total_race_1['swim']= pd.to_timedelta(total_race_1['swim'])
total_race_1['t1']=total_race_1['t1'].astype(int) / 1E9
total_race_1['t1']=(total_race_1['t1']/60)

In [720]:
total_race_1= total_race_1.drop('athlete_last',axis=1)

In [722]:
total_race_1.dtypes

total_time                timedelta64[ns]
athlete_categories                 object
athlete_country_id                  int64
athlete_gender                     object
athlete_id                          int64
athlete_yob                         int64
coach                              object
current_rankings                   object
higher_education                   object
hobbies                            object
injuries                           object
languages_spoken                   object
marital_status                     object
occupation                         object
place_of_birth                     object
sponsors                           object
spouse_children                    object
validated                            bool
weight                             object
finish_percentage                 float64
race_finishes                       int64
race_podium_percentage            float64
race_podiums                        int64
race_starts                         int64
race_wins                           int64
event_categories                   object
event_country                      object
event_country_id                    int64
event_date                         object
event_id                            int64
event_latitude                    float64
event_longitude                   float64
event_region_id                     int64
event_specifications               object
event_venue                        object
headers_count                       int64
position                           object
prog_id                             int64
result_id                           int64
swim                      timedelta64[ns]
t1                        timedelta64[ns]
bike                      timedelta64[ns]
t2                        timedelta64[ns]
run                       timedelta64[ns]
dtype: object

In [726]:
total_race_1['position']=total_race_1['position'].astype('category')
total_race_1['position']=total_race_1['position'].astype('category')
total_race_1['position']=total_race_1['position'].astype('category')
total_race_1['position']=total_race_1['position'].astype('category')
total_race_1['position']=total_race_1['position'].astype('category')

In [764]:

obj=['athlete_categories','athlete_gender','coach','current_rankings','higher_education','hobbies','injuries','languages_spoken','marital_status',
 'occupation','place_of_birth','sponsors','spouse_children','event_categories','event_country','event_specifications','event_venue']

In [800]:
dum=['athlete_categories','athlete_gender','coach','injuries','languages_spoken','marital_status',
 'occupation','place_of_birth','spouse_children','event_country']

In [765]:
for col in obj:
    total_race_1[col] = total_race_1[col].astype('category')

In [810]:
spon=total_race_1['sponsors'][1972]
type(spon)

str

In [784]:
total_race_1['weight']= total_race_1['weight'].str.replace("kg", "")

In [790]:
total_race_1.to_csv('final_df')

In [801]:
dummies = pd.get_dummies(data=total_race_1, columns=dum)

In [816]:
dummies

,total_time,athlete_country_id,athlete_id,athlete_yob,current_rankings,higher_education,hobbies,sponsors,validated,weight,...,event_country_Sweden,event_country_Switzerland,event_country_Thailand,event_country_Tunisia,event_country_Turkey,event_country_Ukraine,event_country_United Arab Emirates,event_country_United States,event_country_Uruguay,event_country_Venezuela
0,00:00:00,115,127288,2001,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1,00:57:52,292,64696,1983,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
2,00:57:52,292,64696,1983,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
3,01:09:56,189,127226,2002,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
4,00:54:56,251,64556,1997,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
5,01:12:33,189,127225,2002,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
6,00:59:01,153,64552,1997,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
7,01:15:44,230,127213,1999,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
8,02:14:21,188,64360,1967,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
9,01:16:08,230,127212,1999,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
10,02:10:29,270,64336,1988,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
11,01:52:27,174,127206,1992,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,1,0,0,0,0,0
12,01:04:49,246,64282,1994,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
13,00:56:25,251,127193,1999,[],NaN,NaN,NaN,True,NaN,...,1,0,0,0,0,0,0,0,0,0
14,01:16:22,266,63999,1996,"{'duathlon': {'ranking_name': 'Duathlon', 'ran...",NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
15,01:06:46,153,125639,2001,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
16,01:24:07,251,63770,1996,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
17,01:06:04,153,125638,2002,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
18,00:38:44,292,63722,1997,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
19,00:34:06,182,125635,2001,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
20,00:00:00,290,63720,1995,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
21,01:03:56,293,125622,1997,[],NaN,NaN,NaN,True,NaN,...,1,0,0,0,0,0,0,0,0,0
22,01:40:35,182,63503,1997,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
23,01:24:20,149,125612,2002,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
24,01:26:53,270,63484,1995,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
25,01:49:30,149,125611,2002,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,1,0,0,0,0,0
26,01:09:52,270,63429,1996,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
27,01:53:26,236,125393,2001,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
28,00:42:33,270,63428,1995,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
29,01:58:33,190,125392,2001,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1961,02:31:57,264,70060,1997,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1962,01:55:45,190,70048,1997,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1963,02:20:59,170,69913,1960,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1964,01:51:59,110,69878,1996,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1965,01:19:57,213,69866,1989,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1966,00:58:02,111,69833,1995,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1967,02:09:52,166,69754,1952,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,1,0,0,0,0,0
1968,00:00:00,111,69743,1996,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1969,01:02:13,152,69665,1996,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1970,02:18:13,230,69630,1997,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1971,02:16:12,219,69442,1988,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1972,00:00:00,230,69102,1997,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",Sport massage,NaN,"CÃ©cÃ©mel, Sportoase, Garmin, 185coachingcenter,...",True,48,...,0,0,0,0,0,0,0,0,0,0
1973,01:07:33,270,69077,1997,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,1,0,0
1974,01:13:44,232,68903,1997,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1975,01:52:33,147,68805,1997,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1976,00:52:43,147,68781,1997,[],NaN,NaN,NaN,True,NaN,...,1,0,0,0,0,0,0,0,0,0
1977,02:10:18,293,68698,1989,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",Syracuse University graduated with degree in P...,"Traveling, journaling","ROKA, 361, Specialized, NYAC",True,61,...,0,0,0,0,0,0,0,0,0,0
1978,01:55:18,162,68564,1998,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1979,02:04:58,111,68294,1997,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1980,00:00:00,170,67535,1994,"{'olympic': {'ranking_name': 'Olympic', 'ranki...",NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1981,02:47:01,224,66668,1988,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1982,01:42:17,270,66202,1997,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1983,02:28:34,292,65691,1975,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1984,00:56:37,292,65407,1951,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1985,01:00:13,292,65406,1952,[],NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1986,00:57:30,266,64938,1998,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1987,00:57:32,266,64936,1999,{'junior_regional': {'ranking_name': 'Junior R...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1988,01:03:52,266,64932,1998,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1989,02:08:13,149,64912,1999,{'junior_regional': {'ranking_name': 'Junior R...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0
1990,00:57:52,266,64903,2000,{'world_rankings': {'ranking_name': 'World Ran...,NaN,NaN,NaN,True,NaN,...,0,0,0,0,0,0,0,0,0,0

In [811]:
# dummies.dtypes

In [812]:
# for i in dummies.columns:
#     print(i)

In [27]:
total_extended_drop.to_csv('total_extended')